repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
        - id: check-merge-conflict
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.24.0
    hooks:
        - id: eslint
          files: ^ui\/src\/app\/.+.ts$
          types: [file]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
        - id: flake8
          exclude: ^alembic/
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
        - id: black
          exclude: ^alembic/
          args: [--check]
