<div class="main-component">

    <h4>Outterview component</h4>

    <section *ngIf="isFormActive">
        User section
        <p>Some info here about simple users</p>
        <div class="form-div">
            Form for creation of users here
            <ol>
                <li *ngFor="let person of filterByZodiac">
                    {{ person.name }} {{ person.apellidos }}
                </li>
            </ol>
        </div>
    </section>

    <app-innerview></app-innerview>

    <button (click)="resetItems()">Close</button>

</div>
